.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px
  }

  html {
    background-color: #a9d1fb;
  }

  img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none
  }

p {
    text-align: center;
}
